:root {
    font-size: 16px;
    --header-items-gap: 1.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: minmax(260px, 1fr) minmax(660px, 5fr);
    grid-template-rows: 176px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
    min-height: 100vh;
}
/*header*/
.container > header {
    grid-area: header;
    background-color: aqua;
    padding: var(--header-items-gap) min(3rem, 5%);

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content 1fr;
    gap: var(--header-items-gap) 1rem;
    align-items: center;
}

header > div {
    display: grid;
    gap: var(--header-items-gap);
    align-items: center;
}

.search {
    grid-template-columns: max-content 1fr;
}

.search > input {
    appearance: none;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 6px 1rem;
}

.current-user > img {
    height: 40px;
}

.current-user > h3 {
    font-size: 1.2;
    font-weight: bold;
}

.current-user {
    grid-template-columns: repeat(3, max-content);
    justify-self: end;
}

.greeting {
    grid-template-columns: repeat(2, max-content);
}

.greeting > img {
    height: 60px;
}

.greeting > div {
    line-height: 1.5rem;
}

.header-actions {
    justify-self: end;
    width: min(300px, 100%);
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    gap: 0;
}

.header-actions > button {
    appearance: none;
    border: none;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    border-radius: 1.1rem;
    width: 76px;
}
/*-------------------------------------------------------*/
/*sidebar*/
.container > aside {
    grid-area: aside;
    background-color: blanchedalmond;
    padding-top: 0.5rem;

    display: grid;
    grid-template-columns: 0.8fr;
    align-content: start;
    justify-content: center;
    gap: 3rem;
}

.branding {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

aside li {
    font-size: 1.5rem;
    list-style: none;
    font-weight: bold;
}

aside li:nth-of-type(n + 2) {
    margin-top: 0.5rem;
}

.branding:hover {
    cursor: pointer;
}

aside li:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*-------------------------------------------------------*/
/*main*/
.container > main {
    grid-area: main;
    background-color: brown;
    padding: 1.5rem 1rem;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 323px 1fr;
    gap: 1rem;
    grid-template-areas: 
    "project announ"
    "project trend";
}

#projects > h3,
#announcements > h3,
#trending > h3 {
    margin-bottom: 1rem;
}

#projects {
    grid-area: project;
    background-color: blue;
}

#announcements {
    grid-area: announ;
    background-color: chartreuse;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.announ-container {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    background-color: white;
}

.announ-container > div {
    max-height: min-content;
}

.announ-container > div:nth-child(-n + 2) {
    border-bottom: 1px solid gray;
}

.announ-container > div > h4 {
    margin-bottom: 0.2rem;
}

.announ-container > div > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trending {
    grid-area: trend;
    background-color: cornflowerblue;
}

.trend-container {
    background-color: white;
    height: 301px;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trend-container > div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background-color: white;
}


/*-------------------------------------------------------*/