:root {
    font-size: 16px;
    --header-items-gap: 1.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(660px, 5fr);
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "aside header"
    "aside main";
    min-height: 100vh;
}
/*header*/
.container > header {
    grid-area: header;
    background-color: aqua;
    padding: var(--header-items-gap) 5%;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: var(--header-items-gap);
}

header > div {
    display: grid;
    gap: var(--header-items-gap);
    align-items: center;
}

.search {
    grid-template-columns: max-content 1fr;
}

.current-user {
    grid-template-columns: repeat(3, max-content);
    justify-self: end;
}

.greeting {
    grid-template-columns: repeat(2, max-content);
}

.header-actions {
    grid-template-columns: repeat(3, 1fr);
}
/*-------------------------------------------------------*/
/*sidebar*/
.container > aside {
    grid-area: aside;
    background-color: blanchedalmond;
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 0.8fr;
    align-content: start;
    justify-content: center;
    gap: 3rem;
}
/*-------------------------------------------------------*/
/*main*/
.container > main {
    grid-area: main;
    background-color: brown;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "project announ"
    "project trend";
}

#projects {
    grid-area: project;
    background-color: blue;
}

#announcements {
    grid-area: announ;
    background-color: chartreuse;

    display: flex;
    flex-flow: column nowrap;
}

.announ-container {
    flex: 1;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

#trending {
    grid-area: trend;
    background-color: cornflowerblue;

    display: flex;
    flex-flow: column nowrap;
}

.trend-container {
    flex: 1;
    padding: 1rem;
    background-color: white;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trend-container > div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
    align-items: center;
}
/*-------------------------------------------------------*/