@font-face {
    font-family: pacifico;
    src: url(../fonts/pacifico-webfont.woff2),
        url(../fonts/pacifico-webfont.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-regular-webfont.woff2),
        url(../fonts/quicksand-regular-webfont.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-bold-webfont.woff2),
        url(../fonts/quicksand-bold-webfont.woff);
    font-style: normal;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --header-items-gap: 1.5rem;
    --cyan-50: #ecfeff;
    --cyan-100: #cffafe;
    --cyan-200: #a5f3fc;
    --cyan-300: #67e8f9;
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --cyan-700: #0e7490;
    --cyan-800: #155e75;
    --cyan-900: #164e63;
    --cyan-950: #083344;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: minmax(260px, 1fr) minmax(660px, 5fr);
    grid-template-rows: 176px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
    min-height: 100vh;

    background-color: var(--cyan-200);
}
/*header*/
.container > header {
    grid-area: header;
    background-color: var(--cyan-50);
    color: var(--cyan-950);
    padding: var(--header-items-gap) min(3rem, 5%);
    box-shadow: 2px 2px 4px var(--cyan-300);

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content 1fr;
    gap: var(--header-items-gap) 1rem;
    align-items: center;

    font-family: pacifico, sans-serif;
}

header > div {
    display: grid;
    gap: var(--header-items-gap);
    align-items: center;
}

.search button,
.current-user button,
.project-card button{
    background: none;
    border: none;
}

.search button > svg,
.current-user button > svg,
.project-card button > svg {
    height: 30px;
    path {
        fill: var(--cyan-950);
    }
}

.search button:hover,
.current-user button:hover,
.project-card button:hover,
.search button:active,
.current-user button:active,
.project-card button:active {
    svg {
        path {
            fill: var(--cyan-600);
        }
    }
}

.search {
    grid-template-columns: max-content 1fr;
}

.search > input {
    appearance: none;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 6px 1rem;
    background-color: var(--cyan-200);
    color: var(--cyan-950);
}

.search > input:hover,
.search > input:focus {
    outline: var(--cyan-400) solid 1px;
    background-color: var(--cyan-100);
}

.current-user > img {
    height: 40px;
}

.current-user > h3 {
    font-size: 1.2;
    font-weight: bold;
}

.current-user {
    grid-template-columns: repeat(3, max-content);
    justify-self: end;
}

.greeting {
    grid-template-columns: repeat(2, max-content);
}

.greeting > img {
    height: 60px;
}

.greeting > div {
    line-height: 1.5rem;
}

.header-actions {
    justify-self: end;
    width: min(300px, 100%);
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    gap: 0;
}

.header-actions > button {
    appearance: none;
    border: none;
    padding: 0.6rem 0;
    font-size: 0.9rem;
    border-radius: 1.1rem;
    width: 76px;
    background-color: var(--cyan-400);
    color: var(--cyan-50);
    font-family: quicksand, sans-serif;
    font-weight: bold;
}

.header-actions > button:hover {
    background-color: var(--cyan-500);
}
/*-------------------------------------------------------*/
/*sidebar*/
.container > aside {
    grid-area: aside;
    background-color: var(--cyan-500);
    color: var(--cyan-50);
    padding-top: 0.5rem;

    display: grid;
    grid-template-columns: 0.8fr;
    align-content: start;
    justify-content: center;
    gap: 3rem;

    font-family: pacifico, sans-serif;
    line-height: 1.1;
}

.branding {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

aside li {
    font-size: 1.5rem;
    list-style: none;
    font-weight: bold;

    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: end;
    gap: 1rem;
}

aside li > svg > path {
    fill: var(--cyan-50);
}

aside li:nth-of-type(n + 2) {
    margin-top: 0.5rem;
}

.branding:hover {
    cursor: pointer;
}

aside li:hover {
    text-decoration: underline;
    cursor: pointer;
    svg > path {
        fill: var(--cyan-200);
    }
}
/*-------------------------------------------------------*/
/*main*/
.container > main {
    grid-area: main;
    padding: 1.5rem 1rem;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 323px 1fr;
    gap: 1rem;
    grid-template-areas: 
    "project announ"
    "project trend";

    color: var(--cyan-950);
    font-family: quicksand, sans-serif;
    line-height: 1.2;
}

#projects > h3,
#announcements > h3,
#trending > h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.project-card,
.announ-container,
.trend-container {
    background-color: var(--cyan-50);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px var(--cyan-300);
}

main p {
    color: var(--cyan-900);
}

#projects {
    grid-area: project;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    height: 220px;
    padding: 1rem;
    border-left: 0.5rem solid var(--cyan-950);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem min-content 1fr;
}

.project-card > h4 {
    font-size: 1.2rem;
    align-self: end;
}

.project-card .btns-container {
    justify-self: end;
    align-self: end;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.project-card > p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#announcements {
    grid-area: announ;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.announ-container {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.announ-container > div {
    max-height: min-content;
}

.announ-container > div:nth-child(-n + 2) {
    border-bottom: 1px solid var(--cyan-200);
}

.announ-container > div > h4 {
    margin-bottom: 0.2rem;
}

.announ-container > div > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trending {
    grid-area: trend;
}

.trend-container {
    height: 301px;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trend-container > div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
    align-items: center;
}

.trend-container h5::before {
    content: "@";
    color: var(--cyan-950);
}
/*-------------------------------------------------------*/